@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:ital,wght@0,100;1,100&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', 'Open Sans', sans-serif;
}

body {
  display: flex;
  height: 100vh;
  align-items: normal;
  align-content: center;
  flex-direction: column;
  background-color: rgb(168, 168, 168);
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: blueviolet;
  height: 5vh;
}

header ul {
  display: flex;
  flex-direction: row;
  margin: 10px 0px;
}

header ul li {
  list-style-type: none;
  margin: auto;
}

header ul li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
}

header ul li a:hover {
  background-color: rgb(45, 3, 85);
}

.container {
  display: flex;
  flex-direction: column;
  width: 1040px;
  margin: 0px auto;
}


.container .post {
  margin-top: 15px;
  margin-bottom: 15px;
}

.container .background-conteudo {
  background-color: wheat;
  padding: 15px;
  border-radius: 5px;
}

.background-conteudo button {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: #a70606;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.container .post .info-postagem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;

}


.container .post .info-postagem p {
  font-weight: bold;

}

.post .info-postagem p {
  font-weight: bold;

}

.post .conteudo {
  display: flex;
  flex-direction: column;
}

.post .img {
  width: 600px;
  height: 300px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin: auto;
}

.post .img img {
  width: 100%;
  height: 100%;
}

.post .comments {
  background-color: wheat;
  padding: 15px;
  margin-top: 5px;
  height: 300px;
  overflow-y: scroll;
  border-radius: 5px;
}



.post .comments .input-comments {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post .comments .input-comments input {
  width: 60%;
  height: 25px;
  padding-left: 5px;
  background-color: rgb(44, 44, 44);
  color: white;
  border: none;
  border-radius: 3px;
}

.post .comments .input-comments button {
  background-color: blueviolet;
  color: white;
  border: none;
  padding: 4px;
  font-weight: bold;
  cursor: pointer;
}

.post .comments .input-comments input::-webkit-input-placeholder {
  color: white;
  font-weight: lighter;
}

.post .comments .input-comments input:focus {
  border: 3px solid blueviolet;
}

.post .comments .conteudo-comment {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: 15px;
  padding: 5px;
  border-radius: 3px;
}

.post .comments .conteudo-comment .info-comment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}


.post .comments .conteudo-comment .info-comment p {
  font-weight: bold;
}

.post .comments .conteudo-comment .comment {
  text-indent: 5px;

}

.post .comments .conteudo-comment button {
  width: 50px;
  background-color: blueviolet;
  color: white;
  border: none;
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
}


.menu-amigos {
  background-color: white;
  background-color: white;
  width: 18%;
  height: 180px;
  position: absolute;
  flex-direction: column;
  padding: 15px;
  left: 470px;
  top: 42px;
  border-radius: 3px;
  overflow: scroll;
  display: none;
}

.menu-amigos .amigos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 6px;
  border-bottom: 1px solid gray;
}

.menu-amigos .amigos button {
  cursor: pointer;
}

.menu-solicitacao {
  background-color: white;
  width: 18%;
  height: 180px;
  position: absolute;
  flex-direction: column;
  padding: 15px;
  left: 746px;
  top: 42px;
  border-radius: 3px;
  overflow: scroll;
  display: none;
}

.menu-solicitacao .solicitacao {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 6px;
  border-bottom: 1px solid gray;
}

.menu-solicitacao .solicitacao button {
  cursor: pointer;
}

.menu-talvez {
  background-color: white;
  width: 18%;
  height: 180px;
  position: absolute;
  flex-direction: column;
  padding: 15px;
  left: 1093px;
  top: 42px;
  border-radius: 3px;
  overflow: scroll;
  display: none;
}

.menu-talvez .talvez {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 6px;
  border-bottom: 1px solid gray;
}

.menu-talvez .talvez button {
  cursor: pointer;
}


.info-usuario {
  margin: auto;
  margin-top: 30px;
  background-color: white;
  padding: 15px;

}

.info-usuario .name {
  font-size: 15px;
  margin-bottom: 5px;
}

.info-usuario .name>span {
  font-weight: bold;
}

.form-post {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.group-form {
  margin-bottom: 10px;
}

.group-form button {
  padding: 10px;
  border: none;
  background-color: purple;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  width: 5vw;
}

.group-form h1 {
  text-align: center;
  color: black;
  font-weight: bold;
}

.group-form .alert {
  text-align: center;
  font-weight: bold;
  padding: 10px;
  color: black;
  background-color: orange;
  border-radius: 5px;
  display: none;
}

.group-form a {
  text-align: center;
  color: blue;
  font-weight: bold;
}

.group-form h1>span {
  color: purple;
}